<div class="row justify-content-center"
     style="background-image: url(assets/images/head.jpg);
            height: 1000px;
            width: 100%;
            margin: 0 auto ;
">
  <div class="row justify-content-md-center m-2"
       style="height: 200px">
    <h1 class="text-white mt-5 text-center"> Добро пожаловать на сайт поиска сервисных цетров</h1>
    <div class="col-sm-5 col-md-8 col-lg-8 col-xl-7">
      <form class="input-group" [formGroup]="searchForm" (ngSubmit)="search()">
        <input class="form-control mt-5" type="text" formControlName="searchText" placeholder="  Поиск" />
        <div class="input-group-append mt-5">
          <input class="btn btn-outline-light" type="submit" value="Искать" />
        </div>
      </form>
    </div>

    <div id="types" class="row row justify-content-center mt-5 ml-2 mr-2 col-md-8 col-lg-8 col-xl-7">

      <button type="submit" [routerLink]="['/account']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>
      <button type="submit" [routerLink]="['/']" class="home-type-btn">
        <img src="assets/images/test-btn.jpg" width="80" height="80" alt="submit" />
      </button>

      <!--<div class="home-type">1</div>
      <div class="home-type">2</div>
      <div class="home-type">3</div>
      <div class="home-type">4</div>
      <div class="home-type">5</div>
      <div class="home-type">6</div>
      <div class="home-type">7</div>
      <div class="home-type">8</div>
      <div class="home-type">9</div>
      <div class="home-type">10</div>
      <div class="home-type">11</div>
      <div class="home-type">12</div>
      <div class="home-type">13</div>
      <div class="home-type">14</div>--> 
    </div>
  </div>
</div>

