<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="background-color: rgb(31,48,98) !important">
    <div class="container">
      <a class="navbar-brand text-white" [routerLink]="['/']">Все сервисы</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex "
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow font-weight-bold">

          <li class="nav-item" *ngIf="isAdmin()"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-white" [routerLink]="['/admin']">Администрирование</a>
          </li>

          <li class="nav-item" *ngIf="isCompany()"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-white" [routerLink]="['/company']">Компания</a>
          </li>

          <li class="nav-item dropdown" [routerLinkActive]="['link-active']">
            <a class="nav-link dropdown-toggle  text-white" href="#" id="navbarDropdownRepairs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Услуги
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownRepairs">
              <a class="dropdown-item" [routerLink]="['/']">Смартфоны и гаджеты</a>
              <a class="dropdown-item" [routerLink]="['/']">Телевизоры, аудио, видео</a>
              <a class="dropdown-item" [routerLink]="['/']">Компьютеры и ноутбуки</a>
              <a class="dropdown-item" [routerLink]="['/']">Техника для офиса</a>
              <a class="dropdown-item" [routerLink]="['/']">Техника для дома</a>
              <a class="dropdown-item" [routerLink]="['/']">Техника для кухни</a>
              <a class="dropdown-item" [routerLink]="['/']">Красота и здоровье</a>
              <a class="dropdown-item" [routerLink]="['/']">Фото и видео</a>
              <a class="dropdown-item" [routerLink]="['/']">Игры и развлечения</a>
              <a class="dropdown-item" [routerLink]="['/']">Бензо-электроинструмент</a>
              <a class="dropdown-item" [routerLink]="['/']">Автомобили и мотоциклы</a>
              <a class="dropdown-item" [routerLink]="['/']">Велосипеды и самокаты</a>
              <a class="dropdown-item" [routerLink]="['/']">Строительство</a>
              <a class="dropdown-item" [routerLink]="['/']">Сантехника</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="navbar-collapse collapse d-sm-inline-flex d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav navbar-right ">
          <li class="nav-item" *ngIf="!isUserAuthenticated()">
            <a class="nav-link text-white dropdown" [routerLink]="['/login']">Вход</a>
          </li>
          <li class="nav-item" *ngIf="isUserAuthenticated()">
            <a class="nav-link text-white" [routerLink]="['/company-register']">Регистрация Компании</a>
          </li>
          <li class="nav-item" *ngIf="!isUserAuthenticated()">
            <a class="nav-link text-white" [routerLink]="['/register']">Регистрация</a>
          </li>
          <li class="nav-item" *ngIf="isUserAuthenticated()">
            <a class="nav-link text-white dropdown" [routerLink]="['account']">Личный кабинет</a>
          </li>
          <li class="nav-item" *ngIf="isUserAuthenticated()">
            <a class="nav-link text-white dropdown" [routerLink]="['/']" (click)="logOut()">Выход</a>
          </li>
          <!--<li class="nav-item">
          <a class="nav-link text-white dropdown" (click)="verify()">?</a>
        </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
