<div class="container">
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Сайт</th>
        <th>Краткое описание</th>
        <th>Популярность</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of companies">
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.webSiteUrl}}</td>
        <td>{{c.smallDescription}}</td>
        <td>{{c.popularity}}</td>
      </tr>
    </tbody>
  </table>
</div>
